In [98]:
# Import libraries
import numpy as np
import pandas as pd
import string
import json
from datetime import datetime

In [99]:
# Define the period and group concerned
target_test = 'post'
target_period = 'K23'
target_group = 'A'+target_period   # 'A' for intervention, 'K' for control

# Define the input files
file_ref = '../rawdata/snippets_reference_'+target_period+'.csv'
file_user_raw = '../rawdata/snippets_luval_'+target_test+'_'+target_group+'.csv'
file_eventlogs_raw = '../rawdata/eventlogs_luval_'+target_test+'_'+target_group+'.csv'
file_anonym_all = '../rawdata/anonym_all_'+target_period+'.json'
file_output1 = 'output/snippets_output_metrics_'+target_test+'_'+target_group   # Can be csv or xlsx
file_output2 = 'output/snippets_output_stats_'+target_test+'_'+target_group   # Can be csv or xlsx

# Define the relevent texts
max_num_rel_text = 3
dict_rel_text = {'S': [148, 149, 150], 
                 'T': [151, 152, 153]}

Not all students may have participated in the pre- or post-test, and even if they did, they may not have selected any snippets. To keep the output consistent with the same rows of students, all students' anonymous IDs are imported first. Event logs are also imported to check if the students participated in the test. Two additional flags (columns) will be added to indicate whether students have participated in the test **('has_test')** and whether they have marked any snippets **('has_snippet')**.

In [100]:
# Import all anonymous ID and drop those who are not in the target
with open(file_anonym_all, 'r') as f:
    anonym_all = json.load(f)
anonym_target = [item for item in anonym_all if item.startswith(target_group)]
anonym_target

['AK23S0001',
 'AK23S0002',
 'AK23S0003',
 'AK23S0004',
 'AK23S0005',
 'AK23S0006',
 'AK23S0007',
 'AK23S0008',
 'AK23S0009',
 'AK23S0010',
 'AK23S0011',
 'AK23S0012',
 'AK23S0013',
 'AK23S0014',
 'AK23S0015',
 'AK23S0016',
 'AK23S0017',
 'AK23S0018',
 'AK23S0019',
 'AK23S0020',
 'AK23S0021',
 'AK23S0022',
 'AK23S0024',
 'AK23S0025',
 'AK23S0027',
 'AK23S0028',
 'AK23S0029',
 'AK23S0030',
 'AK23S0031',
 'AK23S0032',
 'AK23S0033',
 'AK23S0034',
 'AK23S0035',
 'AK23S0038',
 'AK23S0039',
 'AK23S0040',
 'AK23S0041',
 'AK23S0042',
 'AK23S0043',
 'AK23S0044',
 'AK23S0045',
 'AK23S0047',
 'AK23S0048',
 'AK23S0049',
 'AK23S0051',
 'AK23S0052',
 'AK23S0053',
 'AK23S0055',
 'AK23S0057',
 'AK23S0058',
 'AK23S0059',
 'AK23S0060',
 'AK23S0061',
 'AK23S0062',
 'AK23S0063',
 'AK23S0064',
 'AK23S0065',
 'AK23S0066',
 'AK23S0067',
 'AK23S0068',
 'AK23S0069',
 'AK23S0070',
 'AK23S0071',
 'AK23S0074',
 'AK23S0075',
 'AK23S0076',
 'AK23S0077',
 'AK23S0078',
 'AK23S0079',
 'AK23S0080',
 'AK23S0081',
 'AK23S0083',
 'AK23S0085',
 'AK23S0087',
 'AK23S0088',
 'AK23S0089',
 'AK23S0090',
 'AK23S0091',
 'AK23S0092',
 'AK23S0093',
 'AK23S0094',
 'AK23S0095',
 'AK23S0096',
 'AK23S0097',
 'AK23S0098',
 'AK23S0099',
 'AK23S0100',
 'AK23S0101',
 'AK23S0103',
 'AK23S0104',
 'AK23S0105',
 'AK23S0106',
 'AK23S0107',
 'AK23S0108',
 'AK23S0109',
 'AK23S0110',
 'AK23S0111',
 'AK23S0113',
 'AK23S0114',
 'AK23S0115',
 'AK23S0116',
 'AK23S0117',
 'AK23S0118',
 'AK23S0119',
 'AK23S0121',
 'AK23S0122',
 'AK23S0123',
 'AK23S0126',
 'AK23S0127',
 'AK23S0128',
 'AK23S0129',
 'AK23S0130',
 'AK23S0131',
 'AK23S0132',
 'AK23S0133',
 'AK23S0134',
 'AK23S0135',
 'AK23S0136',
 'AK23S0137',
 'AK23S0138',
 'AK23S0139',
 'AK23S0140',
 'AK23S0141',
 'AK23S0143',
 'AK23S0144',
 'AK23S0147',
 'AK23S0149',
 'AK23S0150',
 'AK23S0151',
 'AK23S0153',
 'AK23S0154',
 'AK23S0156',
 'AK23S0158',
 'AK23S0161',
 'AK23S0162',
 'AK23S0163',
 'AK23S0164',
 'AK23S0165',
 'AK23S0166',
 'AK23S0167',
 'AK23S0169',
 'AK23S0170',
 'AK23S0171',
 'AK23S0172',
 'AK23S0173',
 'AK23S0174',
 'AK23S0175',
 'AK23S0177',
 'AK23S0178',
 'AK23S0180',
 'AK23S0181',
 'AK23S0182',
 'AK23S0184',
 'AK23S0185',
 'AK23S0187',
 'AK23S0188',
 'AK23S0189',
 'AK23S0190',
 'AK23S0191',
 'AK23S0192',
 'AK23S0193',
 'AK23S0194',
 'AK23S0195',
 'AK23S0196',
 'AK23S0198',
 'AK23S0199',
 'AK23S0200',
 'AK23S0215',
 'AK23S0216',
 'AK23S0217',
 'AK23S0218',
 'AK23S0219',
 'AK23S0220',
 'AK23S0221',
 'AK23S0222',
 'AK23S0223',
 'AK23S0225',
 'AK23S0227',
 'AK23S0228',
 'AK23S0229',
 'AK23S0230',
 'AK23S0231',
 'AK23S0232',
 'AK23S0233',
 'AK23S0234',
 'AK23S0235',
 'AK23S0236',
 'AK23S0237',
 'AK23S0238',
 'AK23S0239',
 'AK23S0240',
 'AK23S0241',
 'AK23S0242',
 'AK23S0243',
 'AK23S0244',
 'AK23S0246',
 'AK23S0247',
 'AK23S0248',
 'AK23S0249',
 'AK23S0250',
 'AK23S0251',
 'AK23S0253',
 'AK23S0254',
 'AK23S0255',
 'AK23S0256',
 'AK23S0257',
 'AK23S0258',
 'AK23S0259',
 'AK23S0260',
 'AK23S0261',
 'AK23S0262',
 'AK23S0263',
 'AK23S0264',
 'AK23S0265',
 'AK23S0266',
 'AK23S0268',
 'AK23S0269',
 'AK23S0270',
 'AK23S0271',
 'AK23S0272',
 'AK23S0273',
 'AK23S0274',
 'AK23S0275',
 'AK23S0276',
 'AK23S0277',
 'AK23S0278',
 'AK23S0279',
 'AK23S0280',
 'AK23S0281',
 'AK23S0282',
 'AK23S0283',
 'AK23S0284',
 'AK23S0285',
 'AK23S0286',
 'AK23S0288',
 'AK23S0289',
 'AK23S0290',
 'AK23S0291',
 'AK23S0292',
 'AK23S0293',
 'AK23S0294',
 'AK23S0295',
 'AK23S0296',
 'AK23S0298',
 'AK23S0299',
 'AK23S0300',
 'AK23S0301',
 'AK23S0302',
 'AK23S0303',
 'AK23S0304',
 'AK23S0305',
 'AK23S0306',
 'AK23S0307',
 'AK23S0308',
 'AK23S0309',
 'AK23S0310',
 'AK23S0311',
 'AK23S0312',
 'AK23S6023',
 'AK23S6026',
 'AK23S6036',
 'AK23S6046',
 'AK23S6054',
 'AK23S6056',
 'AK23S6073',
 'AK23S6084',
 'AK23S6086',
 'AK23S6120',
 'AK23S6145',
 'AK23S6148',
 'AK23S6152',
 'AK23S6155',
 'AK23S6159',
 'AK23S6160',
 'AK23S6197',
 'AK23S7037',
 'AK23S7050',
 'AK23S7082',
 'AK23S7102',
 'AK23S7112',
 'AK23S7124',
 'AK23S7125',
 'AK23S7142',
 'AK23S7146',
 'AK23S7157',
 'AK23S7168',
 'AK23S7176',
 'AK23S7179',
 'AK23S7183',
 'AK23S7186',
 'AK23S7224',
 'AK23S7226',
 'AK23S7245',
 'AK23S7267',
 'AK23S8072',
 'AK23S8201',
 'AK23S8202',
 'AK23S8203',
 'AK23S8204',
 'AK23S8205',
 'AK23S8206',
 'AK23S8207',
 'AK23S8208',
 'AK23S8209',
 'AK23S8210',
 'AK23S8211',
 'AK23S8212',
 'AK23S8213',
 'AK23S8214',
 'AK23S8252',
 'AK23S8287',
 'AK23S8297']

In [101]:
# Import the eventlogs for comparisons later
df_eventlogs = pd.read_csv(file_eventlogs_raw, sep=';')
df_eventlogs

,anonym,instance_id,action_id,action_type,from_phase,to_phase,url,text_id,detail,created
0,AK23S0001,PELAT,NaN,NAVIGATION,NaN,/taskmanagement,NaN,NaN,/taskmanagement,2023-04-17 06:09:20.454256+00
1,AK23S0001,PELAT,NaN,NAVIGATION,/taskmanagement,/assignment,NaN,NaN,/assignment,2023-04-17 06:09:20.636627+00
2,AK23S0001,PELAT,NaN,NAVIGATION,/assignment,/search,NaN,NaN,/search,2023-04-17 06:09:48.412378+00
3,AK23S0001,PELAT,2ca958fd-5b46-4cef-8df3-4d6389411224,SEARCH_EVENT,NaN,NaN,NaN,NaN,Miten tuui syntyy,2023-04-17 06:10:00.462849+00
4,AK23S0001,PELAT,ecf2c92d-419d-43c8-8db8-759bd1f9e904,SEARCH_EVENT,NaN,NaN,NaN,NaN,Miten tuuli syntyy,2023-04-17 06:10:08.553957+00
...,...,...,...,...,...,...,...,...,...,...
21782,AK23S8287,SOSKT,dc6ec4ba-e92d-4d09-9d36-61907cc50dbd,SNIPPET,NaN,NaN,NaN,153.0,Tuuli perustuu erilaisiin ilmanpaineisiin ja n...,2023-04-04 09:42:28.970717+00
21783,AK23S8287,SOSKT,NaN,NAVIGATION,/pages/153,/synthesis,NaN,NaN,/synthesis,2023-04-04 09:42:36.061094+00
21784,AK23S8287,SOSKT,NaN,NAVIGATION,/synthesis,/pages/152,NaN,NaN,/pages/152,2023-04-04 09:43:49.594261+00
21785,AK23S8287,SOSKT,NaN,NAVIGATION,/pages/152,/snippets,NaN,NaN,/snippets,2023-04-04 09:43:55.492208+00
21786,AK23S8287,SOSKT,NaN,NAVIGATION,/snippets,/synthesis,NaN,NaN,/synthesis,2023-04-04 09:43:57.788376+00

In [102]:
# Read the reference snippets
df_ref = pd.read_csv(file_ref, index_col=0)
df_ref

     text_id                                       snippet_text  words
sid
0        148                  auringon lämpöenergiaa tarvitaan       3
1        148                         vedellä on kolme olomuotoa      4
2        148                 kiinteä nestemäinen ja kaasumainen      4
3        148               lämpötila vaikuttaa veden olomuotoon      4
4        148                            veden olomuodon muutos       3
5        148                 aurinko lämmittää maapallon pintaa      4
6        148                  lämpöenergia saa veden haihtumaan      4
7        148        muuttamaan olomuotoa nesteestä vesihöyryksi      4
8        148  eri ympäristöissä haihtumista tapahtuu eri tav...      6
9        149  lämmin ilma pystyy sitomaan sitä enemmän kuin ...      8
10       149                  vesihöyry alkaa silloin tiivistyä      4
11       149            tiivistyminen on haihtumisen vastakohta      4
12       149    vesihöyry kohoaa ylöspäin lämpimän ilman mukana      6
13       149                    lämmin ilma jäähtyy kohotessaan      4
14       149      lämpötilanmuutoksen takia vesihöyry tiivistyy      4
15       149                  vesihöyry alkaa tiivistyä vedeksi      4
16       149  ilmakehässä tiivistyminen tarvitsee alkaakseen...      6
17       150                      sadepisarat syntyvät pilvissä      3
18       150  pilvet muodostuvat vesipisaroista tai jääkiteistä      5
19       150  pilven sisällä vesipisarat ovat jatkuvassa lii...      8
20       150   pisarat kasvavat yhä suuremmiksi ja raskaammiksi      6
21       150  pisarat ovat kasvaneet niin paljon että ne alk...     11
22       150                      sadepisarat kasvavat pilvissä      3
23       150  ne lopulta putoavat painovoiman vaikutuksesta ...      7
24       151  ilma liikkuu ympärillämme koko ajan lämpötilae...      7
25       151                     ilman vaakasuuntaista liikettä      3
26       151               lämpimämpi ilma kohoaa aina ylöspäin      5
27       151  mitä korkeammalle maanpinnasta noustaan, sitä ...      9
28       151  kun ilma kohoaa riittävän ylös, se alkaa jälle...     12
29       151  pystysuuntainen liike vaikuttaa ilmanpaineisii...      8
30       151  ilman kohoamisen seurauksena alueella on vähem...      9
31       151  alueen ilmanpaine laskee. näin syntyy matalamp...      7
32       151             viileä ilma on painavampaa kuin lämmin      6
33       151  se alkaa painua ilmakehässä alaspäin kohti maa...      8
34       151  alueelle, johon viilennyt ilma laskeutuu, synt...      8
35       151  ilmanpaineen erot syntyvät juuri lämpötilan va...      7
36       152                  auringon lämpöenergiaa tarvitaan       4
37       152  aurinko lämmittää maapallon pintaa lämpöenergi...      5
38       152                          maapallon lämmennyt pinta      3
39       152             yläpuolellaan olevan ilman lämpenemään      4
40       152    aurinko lämmittää erilaisia pintoja eri tavalla      6
41       152                erilaisten pintojen lämmönjohtokyky      3
42       153                       tuuli tasaa ilmanpaine-eroja      3
43       153         ilmakehä on maapalloa ympäröivä ilmakerros      5
44       153  ilman jakautumista ilmakehässä mitataan ilmanp...      6
45       153      ilmanpaine on suure, jota mitataan pascaleina      6
46       153  tuuli perustuu erilaisiin ilmanpaineisiin ja n...      7
47       153  korkeapaineen alueella ilmaa on siis enemmän j...     10
48       153  tuulen suunta on maan pinnalla aina korkeapain...     11
49       153    tuuli toimii ilmanpaine-erojen tasapainottajana      4

In [103]:
# Read the raw user snippets
df_user_raw = pd.read_csv(file_user_raw, sep=';')
df_user_raw

,anonym,instance_id,text_id,snippet_text,ordernumber,group_id,group_title,created,deactivated
0,AK23S0001,PELAT,151.0,Ilma liikkuu ympärillämme koko ajan lämpötilae...,5,5.0,Oma otsikko 5,2023-04-17 06:11:46.698+00,2023-04-17 06:33:49.78743+00
1,AK23S0001,PELAT,151.0,Ympäristöönsä nähden lämpimämpi ilma kohoaa ai...,3,5.0,Oma otsikko 5,2023-04-17 06:13:30.784+00,2023-04-17 06:33:45.056144+00
2,AK23S0001,PELAT,151.0,"Mitä korkeammalle maanpinnasta noustaan, sitä ...",2,5.0,Oma otsikko 5,2023-04-17 06:13:50.372+00,2023-04-17 06:33:43.539029+00
3,AK23S0001,PELAT,151.0,"Kun ilma kohoaa riittävän ylös, se alkaa jälle...",1,5.0,Oma otsikko 5,2023-04-17 06:14:14.701+00,2023-04-17 06:33:41.906587+00
4,AK23S0001,PELAT,151.0,"Ilman kohoaminen johtuu siitä, että lämpimämp...",0,5.0,Oma otsikko 5,2023-04-17 06:14:39.004+00,2023-04-17 06:33:35.776889+00
...,...,...,...,...,...,...,...,...,...
2167,AK23S8252,SKMTT,142.0,"No, lähipäivinä siis tuulee pohjoisesta – eten...",4,1.0,tyyli1234,2023-04-13 09:33:58.342+00,NaN
2168,AK23S8287,SOSKT,151.0,Ilma liikkuu ympärillämme koko ajan lämpötilae...,3,NaN,NaN,2023-04-04 09:39:58.286+00,2023-04-04 09:40:27.791845+00
2169,AK23S8287,SOSKT,151.0,Ilman kohoamisen seurauksena alueella on vähem...,2,NaN,NaN,2023-04-04 09:40:13.299+00,NaN
2170,AK23S8287,SOSKT,152.0,Mutta mitä merkitystä tällä kaikella on tuulen...,1,NaN,NaN,2023-04-04 09:40:51.711+00,NaN
2171,AK23S8287,SOSKT,153.0,Tuuli perustuu erilaisiin ilmanpaineisiin ja n...,0,NaN,NaN,2023-04-04 09:42:28.996+00,NaN

## 2. Data preprocessing

### 2.1 Checking for 'has_test' and 'has_snippet' flags and the task
'has_test' = appears in eventlogs raw data

'has_snippet' = appears in snippets raw data

In [104]:
df_flags = pd.DataFrame()
df_flags['anonym'] = anonym_target
df_flags['has_test'] = df_flags['anonym'].isin(df_eventlogs['anonym'])
df_flags['has_snippet'] = df_flags['anonym'].isin(df_user_raw['anonym'])
df_flags['task'] = pd.merge(
    df_flags,
    df_eventlogs.groupby('anonym')['instance_id'].last().reset_index(),
    on='anonym',
    how='left'
)['instance_id'].apply(lambda x: x[-1] if pd.notna(x) else None)

# An example to check if there are someone who has taken the test but not selecting a snippet
filtered_df = df_flags[(df_flags['has_test'] == True) & (df_flags['has_snippet'] == False)]
filtered_df

        anonym  has_test  has_snippet task
35   AK23S0040      True        False    S
67   AK23S0078      True        False    T
137  AK23S0165      True        False    S
267  AK23S6120      True        False    S
271  AK23S6155      True        False    S
273  AK23S6160      True        False    T
287  AK23S7179      True        False    T

In [105]:
# Data Preprocessing for User Snippets
# (1) These rows are removed at this moment:
#    (a) Deactivated rows, which are snippets that have been unmarked;
#    (b) NaN in text_id, which are self-inputted snippets;
#    (c) Exactly repeated snippets.
# (2) Rename the index as 'usid' (user snippets ID) afterwards

df_user = df_user_raw[df_user_raw["deactivated"].isna()].copy()
df_user = df_user[~df_user["text_id"].isna()]
df_user = df_user.drop_duplicates(
    subset=["anonym", "snippet_text"]
).reset_index(drop=True)
df_user.index.name = "usid"
df_user['text_id'] = df_user['text_id'].astype(int)
df_user

,anonym,instance_id,text_id,snippet_text,ordernumber,group_id,group_title,created,deactivated
usid,,,,,,,,,
0,AK23S0002,PELAT,151,Ilma liikkuu ympärillämme koko ajan lämpötilae...,0,1.0,Oma otsikko 1,2023-04-17 06:10:26.234+00,NaN
1,AK23S0002,PELAT,151,Vaikka ilman liikkeen havainnointi on haastava...,1,1.0,Oma otsikko 1,2023-04-17 06:10:45.019+00,NaN
2,AK23S0002,PELAT,151,"Tuuli, jonka tunnemme suoraan kasvoillamme, on...",2,1.0,Oma otsikko 1,2023-04-17 06:10:54.791+00,NaN
3,AK23S0002,PELAT,151,"Ilma liikkuu kuitenkin myös pystysuunnassa, mi...",3,1.0,Oma otsikko 1,2023-04-17 06:11:02.013+00,NaN
4,AK23S0002,PELAT,151,Ympäristöönsä nähden lämpimämpi ilma kohoaa ai...,4,1.0,Oma otsikko 1,2023-04-17 06:11:17.822+00,NaN
...,...,...,...,...,...,...,...,...,...
1487,AK23S8252,SKMTT,151,"Kun seuraavan kerran kuljet ulkona, voit havai...",4,2.0,tuuli5678,2023-04-13 09:31:54.943+00,NaN
1488,AK23S8252,SKMTT,142,"No, lähipäivinä siis tuulee pohjoisesta – eten...",4,1.0,tyyli1234,2023-04-13 09:33:58.342+00,NaN
1489,AK23S8287,SOSKT,151,Ilman kohoamisen seurauksena alueella on vähem...,2,NaN,NaN,2023-04-04 09:40:13.299+00,NaN
1490,AK23S8287,SOSKT,152,Mutta mitä merkitystä tällä kaikella on tuulen...,1,NaN,NaN,2023-04-04 09:40:51.711+00,NaN
1491,AK23S8287,SOSKT,153,Tuuli perustuu erilaisiin ilmanpaineisiin ja n...,0,NaN,NaN,2023-04-04 09:42:28.996+00,NaN

In [106]:
# Define a function for finding the max consecutive common subsequence
def longest_consecutive_common_subsequence(a, b):
    max_length = 0
    end_index = -1
    dp = [[0 for _ in range(len(b) + 1)] for _ in range(len(a) + 1)]

    for i in range(1, len(a) + 1):
        for j in range(1, len(b) + 1):
            if a[i - 1] == b[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
                if dp[i][j] > max_length:
                    max_length = dp[i][j]
                    end_index = i - 1
            else:
                dp[i][j] = 0

    if max_length == 0:
        return []

    return a[end_index - max_length + 1 : end_index + 1]

### Evaluation for each user snippets

Two properties are defined for each user snippets: **Relevant Proportion** and **Coverage Ratio**. 

**Relevant Proportion**: This ratio measures how many words from the reference snippet are matched or found within the user snippet, indicating the accuracy or precision of the match. A minimum of three consecutive words must match for inclusion in the calculation.

**Coverage Proportion**: This ratio represents the proportion of words in the user snippet relative to the reference snippet, indicating how much of the reference content the user snippet covers.

When a user snippet matches more than one reference snippet, only the reference snippet with the longest continuous match of words will be considered.

For example:
```
Reference snippet: "There are many forests in Finland."
User snippet: "forests in Finland. The"
```
The relevant proportion is 3/4.
The coverage proportion is 3/6.

In [107]:
# A nested loop: loop over all User Snippets (usid), then all Reference Snippets (rsid)
# Two new columns named 'relevant_proportion' and 'coverage_proportion' will be created in the User Snippets DataFrame

for usid, urow in df_user.iterrows():

    # if a reference snippet is found in the user snippet, turn those words to "True"
    urow_clean = (
        urow["snippet_text"]
        .strip()
        .lower()
        .translate(str.maketrans("", "", string.punctuation))
    )

    # Initialize a list of "False" values with the same length as uwords
    uwords = urow_clean.split()
    uwords_status = [False] * len(uwords)
    max_num_common = 0

    # Find the reference snippet with the longest continuous match of words 
    for rsid, rrow in df_ref.iterrows():
        if rrow["text_id"] == urow["text_id"] and not pd.isna(urow["snippet_text"]):
            rwords = rrow["snippet_text"].split()
            common_subsequence = longest_consecutive_common_subsequence(rwords, uwords)
            num_common = len(common_subsequence)
            if num_common >= 3 and num_common > max_num_common:
                max_rsid = rsid
                max_num_common = num_common
                max_start_index = uwords.index(common_subsequence[0])
                num_refernce_snippets_words = len(rrow["snippet_text"].split())

    if (max_num_common >= 3):
        num_user_snippets_words = len(urow["snippet_text"].split())
        df_user.at[usid, "relevant_rsid"] = max_rsid
        df_user.at[usid, "relevant_proportion"] = max_num_common / num_user_snippets_words
        df_user.at[usid, "coverage_proportion"] = max_num_common / num_refernce_snippets_words

# Preview the result
df_user

,anonym,instance_id,text_id,snippet_text,ordernumber,group_id,group_title,created,deactivated,relevant_rsid,relevant_proportion,coverage_proportion
usid,,,,,,,,,,,,
0,AK23S0002,PELAT,151,Ilma liikkuu ympärillämme koko ajan lämpötilae...,0,1.0,Oma otsikko 1,2023-04-17 06:10:26.234+00,NaN,24.0,0.388889,1.0
1,AK23S0002,PELAT,151,Vaikka ilman liikkeen havainnointi on haastava...,1,1.0,Oma otsikko 1,2023-04-17 06:10:45.019+00,NaN,NaN,NaN,NaN
2,AK23S0002,PELAT,151,"Tuuli, jonka tunnemme suoraan kasvoillamme, on...",2,1.0,Oma otsikko 1,2023-04-17 06:10:54.791+00,NaN,25.0,0.300000,1.0
3,AK23S0002,PELAT,151,"Ilma liikkuu kuitenkin myös pystysuunnassa, mi...",3,1.0,Oma otsikko 1,2023-04-17 06:11:02.013+00,NaN,NaN,NaN,NaN
4,AK23S0002,PELAT,151,Ympäristöönsä nähden lämpimämpi ilma kohoaa ai...,4,1.0,Oma otsikko 1,2023-04-17 06:11:17.822+00,NaN,26.0,0.312500,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1487,AK23S8252,SKMTT,151,"Kun seuraavan kerran kuljet ulkona, voit havai...",4,2.0,tuuli5678,2023-04-13 09:31:54.943+00,NaN,35.0,0.280000,1.0
1488,AK23S8252,SKMTT,142,"No, lähipäivinä siis tuulee pohjoisesta – eten...",4,1.0,tyyli1234,2023-04-13 09:33:58.342+00,NaN,NaN,NaN,NaN
1489,AK23S8287,SOSKT,151,Ilman kohoamisen seurauksena alueella on vähem...,2,NaN,NaN,2023-04-04 09:40:13.299+00,NaN,30.0,0.692308,1.0
1490,AK23S8287,SOSKT,152,Mutta mitä merkitystä tällä kaikella on tuulen...,1,NaN,NaN,2023-04-04 09:40:51.711+00,NaN,NaN,NaN,NaN
1491,AK23S8287,SOSKT,153,Tuuli perustuu erilaisiin ilmanpaineisiin ja n...,0,NaN,NaN,2023-04-04 09:42:28.996+00,NaN,46.0,0.500000,1.0

In [108]:
df_user_encoded = pd.get_dummies(df_user, columns=['text_id'], prefix='text_id')
df_user_encoded[50:100]

,anonym,instance_id,snippet_text,ordernumber,group_id,group_title,created,deactivated,relevant_rsid,relevant_proportion,...,text_id_141,text_id_142,text_id_143,text_id_146,text_id_148,text_id_149,text_id_150,text_id_151,text_id_152,text_id_153
usid,,,,,,,,,,,,,,,,,,,,,
50,AK23S0009,PELAT,Samaan aikaan ylemmäs ilmakehään kohonnut ilma...,3,NaN,NaN,2023-04-17 06:19:10.025+00,NaN,33.0,0.347826,...,False,False,False,False,False,False,False,True,False,False
51,AK23S0009,PELAT,"Alueelle, johon viilennyt ilma laskeutuu, synt...",2,NaN,NaN,2023-04-17 06:19:33.079+00,NaN,34.0,0.187500,...,False,False,False,False,False,False,False,True,False,False
52,AK23S0009,PELAT,"Kun seuraavan kerran kuljet ulkona, voit havai...",1,NaN,NaN,2023-04-17 06:19:45.12+00,NaN,35.0,0.280000,...,False,False,False,False,False,False,False,True,False,False
53,AK23S0009,PELAT,Voit syventää ymmärrystäsi tuulesta tutustumal...,0,NaN,NaN,2023-04-17 06:19:55.758+00,NaN,NaN,NaN,...,False,False,False,False,False,False,False,True,False,False
54,AK23S0010,PELAT,lma liikkuu ympärillämme koko ajan lämpötilaer...,7,NaN,NaN,2023-04-17 06:12:16.664+00,NaN,24.0,0.857143,...,False,False,False,False,False,False,False,True,False,False
55,AK23S0010,PELAT,Ympäristöönsä nähden lämpimämpi ilma kohoaa ai...,6,NaN,NaN,2023-04-17 06:13:00.826+00,NaN,26.0,0.714286,...,False,False,False,False,False,False,False,True,False,False
56,AK23S0010,PELAT,"Kun ilma kohoaa riittävän ylös, se alkaa jäll...",5,NaN,NaN,2023-04-17 06:13:10.791+00,NaN,28.0,0.583333,...,False,False,False,False,False,False,False,True,False,False
57,AK23S0010,PELAT,Tämä pystysuuntainen liike vaikuttaa ilmanpain...,4,NaN,NaN,2023-04-17 06:13:20.332+00,NaN,29.0,0.444444,...,False,False,False,False,False,False,False,True,False,False
58,AK23S0010,PELAT,Aurinko lämmittää maapallon pintaa lämpöenergi...,3,NaN,NaN,2023-04-17 06:14:58.303+00,NaN,37.0,1.000000,...,False,False,False,False,False,False,False,False,True,False
59,AK23S0010,PELAT,Maapallon lämmennyt pinta saa edelleen yläpuo...,2,NaN,NaN,2023-04-17 06:15:21.135+00,NaN,39.0,0.190476,...,False,False,False,False,False,False,False,False,True,False
60,AK23S0010,PELAT,"ilman lämpeneminen, on kaikkien tuulityyppien ...",1,NaN,NaN,2023-04-17 06:16:33.227+00,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,True,False
61,AK23S0012,PELAS,Pilvet muodostuvat vesipisaroista tai jääkitei...,1,7.0,Oma otsikko 1,2023-04-17 06:28:03.564+00,NaN,18.0,1.000000,...,False,False,False,False,False,False,True,False,False,False
62,AK23S0012,PELAS,Oikeastaan vesihöyry itsessään on paljaalle si...,2,8.0,Oma otsikko 2,2023-04-17 06:28:23.8+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
63,AK23S0012,PELAS,. Vesipisarat tai jääkiteet ovat niin pieniä j...,1,9.0,Oma otsikko 3,2023-04-17 06:28:45.201+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
64,AK23S0012,PELAS,Pilven sisällä vesipisarat ovat jatkuvassa lii...,1,8.0,Oma otsikko 2,2023-04-17 06:29:02.396+00,NaN,19.0,1.000000,...,False,False,False,False,False,False,True,False,False,False
65,AK23S0012,PELAS,Samalla niihin myös tiivistyy lisää vettä suor...,0,7.0,Oma otsikko 1,2023-04-17 06:29:24.252+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
66,AK23S0012,PELAS,Sitä tarvitaan fotosynteesiin eli yhteyttämis...,0,10.0,Oma otsikko 4,2023-04-17 06:36:07.279+00,NaN,NaN,NaN,...,False,False,False,False,True,False,False,False,False,False
67,AK23S0012,PELAS,Lämpötilan muutos ja siitä seuraava veden olom...,0,9.0,Oma otsikko 3,2023-04-17 06:37:10.886+00,NaN,5.0,0.133333,...,False,False,False,False,True,False,False,False,False,False
68,AK23S0012,PELAS,Kaupungissa taas ei ole paljon vettä eikä näi...,0,8.0,Oma otsikko 2,2023-04-17 06:37:33.544+00,NaN,NaN,NaN,...,False,False,False,False,True,False,False,False,False,False
69,AK23S0013,PELAS,Pilvet muodostuvat vesipisaroista tai jääkitei...,0,7.0,Oma otsikko 1,2023-04-17 06:15:20.223+00,NaN,18.0,0.172414,...,False,False,False,False,False,False,True,False,False,False
70,AK23S0013,PELAS,Pienet vesipisarat törmäilevät ja yhdistyvät v...,0,8.0,Oma otsikko 2,2023-04-17 06:16:01.377+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
71,AK23S0013,PELAS,Samalla niihin myös tiivistyy lisää vettä suo...,1,8.0,Oma otsikko 2,2023-04-17 06:16:40.705+00,NaN,20.0,0.400000,...,False,False,False,False,False,False,True,False,False,False
72,AK23S0013,PELAS,Ilmavirtaukset pystyvät nostamaan pisaroita y...,2,8.0,Oma otsikko 2,2023-04-17 06:16:59.924+00,NaN,21.0,0.523810,...,False,False,False,False,False,False,True,False,False,False
73,AK23S0013,PELAS,"Tärkeää sade-ilmiön kannalta on muistaa, että ...",3,8.0,Oma otsikko 2,2023-04-17 06:17:54.983+00,NaN,23.0,0.411765,...,False,False,False,False,False,False,True,False,False,False
74,AK23S0014,PELAS,Sadepisarat kasvavat pilvissä\nMelkein aina ta...,4,NaN,NaN,2023-04-17 06:10:16.559+00,NaN,18.0,0.156250,...,False,False,False,False,False,False,True,False,False,False
75,AK23S0014,PELAS,Oikeastaan vesihöyry itsessään on paljaalle si...,3,NaN,NaN,2023-04-17 06:10:26.399+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
76,AK23S0014,PELAS,Vesipisarat tai jääkiteet ovat niin pieniä ja ...,2,NaN,NaN,2023-04-17 06:10:34.474+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
77,AK23S0014,PELAS,Pilven sisällä vesipisarat ovat jatkuvassa lii...,1,NaN,NaN,2023-04-17 06:10:43.581+00,NaN,19.0,0.533333,...,False,False,False,False,False,False,True,False,False,False
78,AK23S0014,PELAS,Samalla niihin myös tiivistyy lisää vettä suo...,0,NaN,NaN,2023-04-17 06:10:50.36+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
79,AK23S0016,PELAS,Pilvet muodostuvat vesipisaroista tai jääkitei...,0,7.0,SADE ja PILVET,2023-04-17 06:10:08.77+00,NaN,18.0,0.172414,...,False,False,False,False,False,False,True,False,False,False
80,AK23S0016,PELAS,Vesipisarat tai jääkiteet ovat niin pieniä ja ...,1,7.0,SADE ja PILVET,2023-04-17 06:10:22.356+00,NaN,19.0,0.275862,...,False,False,False,False,False,False,True,False,False,False
81,AK23S0016,PELAS,Samalla niihin myös tiivistyy lisää vettä suor...,2,7.0,SADE ja PILVET,2023-04-17 06:10:35.497+00,NaN,21.0,0.343750,...,False,False,False,False,False,False,True,False,False,False
82,AK23S0016,PELAS,Pisaroiden sataessa pilvi tyhjenee vähitellen....,3,7.0,SADE ja PILVET,2023-04-17 06:10:54.847+00,NaN,23.0,0.212121,...,False,False,False,False,False,False,True,False,False,False
83,AK23S0016,PELAS,Jääkiteiden kasvaminen pilvessä tapahtuu härmi...,4,7.0,SADE ja PILVET,2023-04-17 06:11:04.076+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
84,AK23S0016,PELAS,Jos nämä pienet jääkiteet ja lumihiutaleet jat...,5,7.0,SADE ja PILVET,2023-04-17 06:11:16.078+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
85,AK23S0016,PELAS,"Sää on sitä, mitä tapahtuu tiettynä aikana tie...",0,8.0,säää,2023-04-17 06:15:52.492+00,NaN,NaN,NaN,...,False,False,False,True,False,False,False,False,False,False
86,AK23S0017,PELAS,Ilman kyky sitoa vesihöyryä muuttuu lämpötilan...,4,NaN,NaN,2023-04-17 06:10:15.095+00,NaN,12.0,0.200000,...,False,False,False,False,False,True,False,False,False,False
87,AK23S0017,PELAS,Pilven sisällä vesipisarat ovat jatkuvassa lii...,3,NaN,NaN,2023-04-17 06:11:06.544+00,NaN,19.0,0.266667,...,False,False,False,False,False,False,True,False,False,False
88,AK23S0017,PELAS,Ilmavirtaukset pystyvät nostamaan pisaroita yl...,2,NaN,NaN,2023-04-17 06:11:15.429+00,NaN,21.0,0.523810,...,False,False,False,False,False,False,True,False,False,False
89,AK23S0017,PELAS,"Kun ilma kohoaa ja sen myötä jäähtyy, saavutet...",1,NaN,NaN,2023-04-17 06:22:54.741+00,NaN,15.0,0.125000,...,False,False,False,False,False,True,False,False,False,False
90,AK23S0017,PELAS,Pisaroiden sataessa pilvi tyhjenee vähitellen....,0,NaN,NaN,2023-04-17 06:25:36+00,NaN,23.0,0.212121,...,False,False,False,False,False,False,True,False,False,False
91,AK23S0018,PELAS,Pilvet muodostuvat vesipisaroista tai jääkitei...,10,NaN,NaN,2023-04-17 06:11:15.976+00,NaN,18.0,1.000000,...,False,False,False,False,False,False,True,False,False,False
92,AK23S0018,PELAS,vesihöyry itsessään on paljaalle silmälle näky...,9,NaN,NaN,2023-04-17 06:11:47.676+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
93,AK23S0018,PELAS,Vesipisarat tai jääkiteet ovat niin pieniä ja ...,8,NaN,NaN,2023-04-17 06:12:00.035+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
94,AK23S0018,PELAS,Pienet vesipisarat törmäilevät ja yhdistyvät v...,6,NaN,NaN,2023-04-17 06:12:52.304+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
95,AK23S0018,PELAS,Näin pisarat kasvavat yhä suuremmiksi ja raska...,5,NaN,NaN,2023-04-17 06:13:09.092+00,NaN,20.0,0.857143,...,False,False,False,False,False,False,True,False,False,False
96,AK23S0018,PELAS,Ilmavirtaukset pystyvät nostamaan pisaroita yl...,4,NaN,NaN,2023-04-17 06:13:34.557+00,NaN,21.0,0.523810,...,False,False,False,False,False,False,True,False,False,False
97,AK23S0018,PELAS,Pisaroiden sataessa pilvi tyhjenee vähitellen.,3,NaN,NaN,2023-04-17 06:13:48.188+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False
98,AK23S0018,PELAS,Lämpötilasta riippuen maahan voi sataa vesisad...,2,NaN,NaN,2023-04-17 06:14:01.631+00,NaN,23.0,0.250000,...,False,False,False,False,False,False,True,False,False,False
99,AK23S0018,PELAS,Vesihöyry muuttuu suoraan jääksi tiivistymisyt...,1,NaN,NaN,2023-04-17 06:14:25.059+00,NaN,NaN,NaN,...,False,False,False,False,False,False,True,False,False,False

In [109]:
# Group by 'anonym' and aggregate data
df_stat = df_user_encoded.groupby('anonym').agg({
    'instance_id': lambda x: x.iloc[-1][-1],  # Get the last character of the last 'instance_id'
    'snippet_text': 'count',                  # Count the number of snippets per anonym
    'relevant_proportion': 'mean',            # Calculate mean of relevant_proportion, automatically excludes NaN
    'coverage_proportion': 'mean'             # Calculate mean of coverage_proportion, automatically excludes NaN
}).rename(columns={
    'instance_id': 'task',
    'snippet_text': 'valid_snippets_total',
    'relevant_proportion': 'mean_relevant_proportion',
    'coverage_proportion': 'mean_coverage_proportion'
})

# creating a placeholder for relevant texts
df_stat['relevant_snippets_total'] = 0
for i in range(1,max_num_rel_text+1):
    df_stat['sum_relevant_text_'+str(i)] = 0

# For each text_id_### column, sum the True values
text_id_cols = [col for col in df_user_encoded if col.startswith('text_id_')]
for col in text_id_cols:
    df_stat['sum_' + col] = df_user_encoded.groupby('anonym')[col].sum()

# !!! HUOM !!!
# This part is task-specific! Refer to the definition of dict_rel_text at the beginning
def get_sum_relevant_text(row, i):
    task = row['task']
    text_id = dict_rel_text[task][i]
    return row['sum_text_id_'+str(text_id)]

for i in range(max_num_rel_text):
    df_stat['sum_relevant_text_'+str(i+1)] = df_stat.apply(get_sum_relevant_text, axis=1, args=(i,))
    df_stat['relevant_snippets_total'] += df_stat['sum_relevant_text_'+str(i+1)]

# Reset index to make 'anonym' a column again if needed
df_stat.reset_index(inplace=True)

# Drop the task as it will be duplicate with df_flags
df_stat = df_stat.drop('task', axis=1)

df_stat

,anonym,valid_snippets_total,mean_relevant_proportion,mean_coverage_proportion,relevant_snippets_total,sum_relevant_text_1,sum_relevant_text_2,sum_relevant_text_3,sum_text_id_113,sum_text_id_114,...,sum_text_id_141,sum_text_id_142,sum_text_id_143,sum_text_id_146,sum_text_id_148,sum_text_id_149,sum_text_id_150,sum_text_id_151,sum_text_id_152,sum_text_id_153
0,AK23S0002,7,0.333681,0.895833,7,7,0,0,0,0,...,0,0,0,0,0,0,0,7,0,0
1,AK23S0003,7,0.300000,1.000000,7,3,4,0,0,0,...,0,0,0,0,0,0,0,3,4,0
2,AK23S0004,7,0.364286,1.000000,3,3,0,0,0,0,...,4,0,0,0,0,0,0,3,0,0
3,AK23S0005,10,0.477773,1.000000,10,3,2,5,0,0,...,0,0,0,0,0,0,0,3,2,5
4,AK23S0006,6,0.196875,1.000000,6,1,5,0,0,0,...,0,0,0,0,0,0,0,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,AK23S6152,10,0.737374,1.000000,10,0,0,10,0,0,...,0,0,0,0,0,0,10,0,0,0
228,AK23S6197,2,0.273352,1.000000,2,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
229,AK23S8072,7,0.503030,1.000000,7,3,1,3,0,0,...,0,0,0,0,3,1,3,0,0,0
230,AK23S8252,5,0.280000,1.000000,1,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
231,AK23S8287,3,0.596154,1.000000,3,1,1,1,0,0,...,0,0,0,0,0,0,0,1,1,1

In [110]:
# Export the results to Excel
table1 = df_user[['anonym','snippet_text','relevant_rsid','relevant_proportion','coverage_proportion']]
table1.to_excel(file_output1+'.xlsx')

table2 = pd.merge(df_flags, df_stat, on='anonym', how='left')
table2.loc[table2['has_snippet'], 'valid_snippets_total'] = table2.loc[table2['has_snippet'], 'valid_snippets_total'].fillna(0)
table2.to_excel(file_output2+'.xlsx')